
body, html {
    margin: 0;
    padding: 0;
    background-color: #15151a;
    color: #ffffff;
}

.packs {
    display: flex;
    flex-direction: column;
}

.pack {
    margin: 1rem auto;
    max-width: 1200px;
    transition: transform .2s;
}

.pack:hover {
    cursor: pointer;
}

.pack:hover h1 {
    color: #fde771 !important;
}

.pack:hover .movies {
    box-shadow: inset 0 0 32px #000000,
                0 0 0px 4px #fde771;
}

.pack:hover .movies img {
    box-shadow: 0 0 10px #000000;
}

.pack h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin: .4rem 1rem;
    font-weight: 400;
    transition: color .14s;
}

.pack .movies {
    display: flex;
    padding: 16px 60px;
    background-color: #0a0a0a;
    box-shadow: inset 0 0 0px #000000,
                0 1px 7px rgba(0, 0, 0, .4);
    transition: border-color .14s, .14s box-shadow;
}

.pack .movies img {
    height: 300px;
    margin: 4px;
    border-radius: 3px;
    box-shadow: 0 1px 9px rgba(0, 0, 32, .2);
    transition: .14s box-shadow;
}

#pack_action .movies {
    background-image: url('images/theme_backgrounds/action.jpg');
    background-size: cover;
    background-position: center;
    border-color: #bf3a3a;
}
#pack_action h1 {
    color: #fd7171;
}

#pack_masterpieces .movies {
    background-image: url('images/theme_backgrounds/masterpiece.jpg');
    background-position: center;
    background-size: cover;
    border-color: #3f3fdf;
}
#pack_masterpieces h1 {
    color: #8ba7f9;
}

#pack_anime .movies {
    background-image: url('images/theme_backgrounds/anime.jpg');
    background-size: cover;
    background-position: center;
    border-color: #8be3be;
}
#pack_anime h1 {
    color: #8be3be;
}
